server {



    server_name api.techvvs.io;

    location / {
        proxy_pass http://161.35.186.38:32007;
    }

###### I ADDED THIS HERE
    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/api.techvvs.io/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/api.techvvs.io/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}

server {
    if ($host = www.techvvs.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = techvvs.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


        listen 80;
        listen [::]:80;

        server_name techvvs.io www.techvvs.io;
    return 404; # managed by Certbot




}
                                                                                                                                                                                                                                                        67,1          Bot
